body {
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#main {
    display: flex;
    color: #fff;
    background-color: #99d594;
    justify-content: center;
    align-items: center;
    height: 320px;
}

#logo {
    display: flex;
    height: 220px;
    padding-left: 220px;
    background: url(../img/hiveeyes.gif) no-repeat;
    background-size: 220px;
}

#title {
    display: flex;
    flex-flow: column wrap;
    padding-left: 40px;
    font-weight: 200;
    color: #000;
}

.headline {
    font-size: 3.3rem;
    display: flex;
    line-height: 3.5rem;
    font-weight: 200;
    margin-bottom: 2.5rem;
}

.slogan {
    font-size: 1.9rem;
    display: flex;
    font-weight: 200;
    line-height: 2.5rem;
}

a, a:visited, a:active, .bullet-point, .more-links {
    color: #000 !important;
    text-decoration: none !important;
}

p > a, p > a:visited, p > a:active {
    color: #12aa56 !important;
}


ul {
    margin: 0;
    padding: 0;
}

ul li a,.bullet-point,.more-links {
    padding: 15px 20px;
    display: block;
    font-weight: 300;
}

ul li {
    list-style: none;
    font-size: 2rem;
    color: #fff;
}

ul li:hover {
    background-color: #ffd92f;
}

ul li:hover a {
    color: #111;
}

/* Colors made with http://colorbrewer2.org/ */

/* red */
/*
li:first-child {
    background-color: #ffffb2;
}

li:nth-child(2) {
    background-color: #fed976;
}

li:nth-child(3) {
    background-color: #feb24c;
}

li:nth-child(4) {
    background-color: #fd8d3c;
}

li:nth-child(5) {
    background-color: #f03b20;
}

li:nth-child(6) {
    background-color: #bd0026;
}
*/

/* green */
li:first-child {
    background-color: #238443;
}

li:nth-child(2) {
    background-color: #41ab5d;
}

li:nth-child(3) {
    background-color: #78c679;
}

li:nth-child(4) {
    background-color: #addd8e;
}

li:nth-child(5) {
    background-color: #d9f0a3;
}

li:nth-child(6) {
    background-color: #ffffcc;
}

@media (max-width: 555px) {
    h1 {
        height: 150px;
        background-size: 180px;
        font-size: 2.5rem;
        line-height: 2.8rem;
        padding-left: 170px;
        width: 200px;
    }

    li {
        font-size: 1.8rem;
    }
}


/* Custom CSS */

.font-small {
    font-size: smaller;
}

.font-large {
    font-size: x-large;
}

.inherit-spacing {
    margin: inherit;
    padding: inherit;
}
