/* Tofino CSS, amended */

body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

#banner {
    display: flex;
    color: #fff;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo {
    display: flex;
    height: 220px;
    padding-left: 220px;
    background: url(../img/hiveeyes.gif) no-repeat;
    background-size: 220px;
}

#title {
    display: flex;
    flex-flow: column wrap;
    padding-left: 40px;
    font-weight: 200;
    color: #000;
}

.headline {
    display: flex;
    font-size: 3.3rem;
    font-weight: 200;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
}

.slogan {
    display: flex;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 2.0rem;
    max-width: 43rem;
}

.slogan-more {
    margin-top: 1.0rem;
}


a, a:visited, a:active, .bullet-point, .more-links {
    color: #000 !important;
    text-decoration: none !important;
}

p > a, p > a:visited, p > a:active {
    color: #12aa56 !important;
}


ul.nav {
    margin: 0;
    padding: 0;
}

ul.nav li a {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

ul.nav li > a,.bullet-point,.more-links {
    padding: 15px 20px;
    display: block;
    font-weight: 300;
}

ul.nav li {
    list-style: none;
    font-size: 2.0rem;
    color: #fff;
}

ul.nav li:hover {
    background-color: #ffd92f;
}

ul.nav li:hover a {
    color: #111;
}


/* Colors made with http://colorbrewer2.org/ */
ul.nav li:first-child {
    background-color: #238443;
}

ul.nav li:nth-child(2) {
    background-color: #41ab5d;
}

ul.nav li:nth-child(3) {
    background-color: #78c679;
}

ul.nav li:nth-child(4) {
    background-color: #addd8e;
}

ul.nav li:nth-child(5) {
    background-color: #d9f0a3;
}

ul.nav li:nth-child(6) {
    background-color: #ffffcc;
}

@media (max-width: 555px) {

    #logo {
        display: none;
    }

    ul.nav li {
        font-size: 1.8rem;
    }

    ul.nav li a {
        font-size: 1.1rem;
    }

}


/* Custom CSS */

.font-smaller {
    font-size: smaller;
}

.font-small {
    font-size: small;
}

.font-x-small {
    font-size: x-small;
}

.font-large {
    font-size: x-large;
}

.inherit-spacing {
    margin: inherit;
    padding: inherit;
}

.color-black {
    color: #000;
}

.modal-x-lg {
    min-width: 95%;
}

.list-group-item:hover {
    background: #ffd92f;
}
